<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Custom appender without any pattern, used for specific messages for the Green Metrics Tool -->
    <appender name="RAW_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- Custom logger without any prefixes -->
    <logger name="raw" level="INFO" additivity="false">
        <appender-ref ref="RAW_APPENDER"/>
    </logger>

</configuration>
